# requirements.txt
streamlit
ultralytics
pandas
Pillow
fpdf2
streamlit-webrtc
opencv-python-headless

# Install CPU-only versions of PyTorch, which is required for Streamlit Cloud
torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu
