pip~=23.0.1
streamlit~=1.45.1
ultralytics~=8.3.152
opencv-python~=4.11.0.86
pandas~=2.3.0
Pillow~=11.0.0
fpdf2
torch~=2.5.1+cu121
torchvision
opencv-python-headless
streamlit-webrtc
av~=14.4.0
attrs~=25.3.0
protobuf~=6.31.1
pyOpenSSL~=25.1.0
cryptography~=45.0.3
filelock~=3.13.1
numpy~=2.1.2
fpdf~=1.7.2
